<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    /> -->
    <title>guestBook</title>
  </head>

  <body>
    {% extends 'layout.html' %} {% block content %} {% if user %}
    <link rel="stylesheet" href="/guestBook.css" />
    <link rel="stylesheet" href="/header.css" />
    <link rel="stylesheet" href="/modal.css" />

    <div class="modal1 hidden">
      <div class="modalBox">
        <div class="modalBox-title">
          <div style="padding-top: 40px; padding-left: 212px">팔로우 목록</div>
          <div id="x">
            <button class="closeBtn1">✖</button>
          </div>
        </div>
        {% if user.Followings %} {% for following in user.Followings %}
        <div class="modalBox-content">
          <div
            class="modalBox-nick"
            onclick="handleClick(event, `{{following.id}}`)"
          >
            {{following.nick}}
          </div>
        </div>
        {% endfor %} {% endif %}
      </div>
    </div>
    <div class="modal2 hidden">
      <div class="modalBox">
        <div class="modalBox-title">
          <div style="padding-top: 40px; padding-left: 212px">팔로워 목록</div>
          <div id="x"><button class="closeBtn2">✖</button></div>
        </div>
        {% if user.Followers %} {% for follower in user.Followers %}
        <div class="modalBox-content">
          <div
            class="modalBox-nick"
            onclick="handleClick(event, `{{follower.id}}`)"
          >
            {{follower.nick}}
          </div>
        </div>
        {% endfor %} {% endif %}
      </div>
    </div>
    <div class="profile-box">
      <img
        class="profile-img"
        src="https://upload.wikimedia.org/wikipedia/ko/thumb/4/4a/신짱구.png/230px-신짱구.png"
      />
      <div class="profile-info">
        <div class="nickname">{{userNick}}님의 프로필</div>
        <div class="follow-info">
          <div class="follow-box openBtn1">
            팔로우 : <strong>{{user.Followings.length}}</strong>
          </div>

          <div class="follower-box openBtn2">
            팔로워 : <strong>{{user.Followers.length}}</strong>
          </div>
        </div>
      </div>
    </div>
    <!-- <h3>user : {{following}}</h3> -->
    <div class="input-container">
      <form
        id="twit-form"
        action="/guestBook/{{user.id}}"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="form-floating">
          <textarea
            id="floatingTextarea"
            class="form-control"
            name="content"
            maxlength="140"
            placeholder="방명록을 작성하세요."
          ></textarea>
          <!-- <label for="floatingTextarea">leave a comment</label> -->
        </div>
        <div class="img-preview">
          <img
            id="img-preview"
            src=""
            style="display: none"
            width="250"
            alt="미리보기"
          />
          <input id="img-url" type="hidden" name="url" />
        </div>
        <div class="btns-div">
          <div class="img-inputBox">
            <!-- <label for="formFile" id="img-label" class="form-label"
              >사진 업로드</label
            > -->
            <input
              id="formFile"
              class="img-input"
              type="file"
              placeholder="이미지 추가"
              accept="image/*"
              style="display: none"
            />
            <div class="input-file-button">
              <label for="formFile"> 사진 추가</label>
            </div>
          </div>

          <div>
            <button type="submit" class="btn btn-secondary">입력</button>
          </div>
        </div>
        <div></div>
      </form>
    </div>
    {% endif %}
    <div class="twits">
      {% for guestBook in guestBooks %}
      <div class="twit">
        <input
          type="hidden"
          value="{{guestBook.User.id}}"
          class="twit-user-id"
        />
        <input type="hidden" value="{{guestBook.id}}" class="twit-id" />
        <div
          class="twit-author"
          onclick="handleClick(event, `{{twit.User.id}}`)"
        >
          {{guestBook.writer}}
        </div>
        <div class="twit-content">{{guestBook.content}}</div>
        <div class="twit-createAt">{{guestBook.createdAt}}</div>
        {% if guestBook.img %}
        <div class="twit-img"><img src="{{guestBook.img}}" alt="섬네일" /></div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endblock %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {% block script %}
    <script>
      if (document.getElementById("formFile")) {
        console.log("!!!!!!!!!!!!!!");
        document
          .getElementById("formFile")
          .addEventListener("change", function (e) {
            const formData = new FormData();
            console.log(this, this.files);
            formData.append("img", this.files[0]);
            axios
              .post("/guestBook/img", formData)
              .then((res) => {
                document.getElementById("img-url").value = res.data.url;
                document.getElementById("img-preview").src = res.data.url;
                document.getElementById("img-preview").style.display = "inline";
              })
              .catch((err) => {
                console.error(err);
              });
          });
      }

      const open1 = () => {
        document.querySelector(".modal1").classList.remove("hidden");
      };

      const close1 = () => {
        document.querySelector(".modal1").classList.add("hidden");
      };

      document.querySelector(".openBtn1").addEventListener("click", open1);
      document.querySelector(".closeBtn1").addEventListener("click", close1);

      const open2 = () => {
        document.querySelector(".modal2").classList.remove("hidden");
      };

      const close2 = () => {
        document.querySelector(".modal2").classList.add("hidden");
      };

      document.querySelector(".openBtn2").addEventListener("click", open2);
      document.querySelector(".closeBtn2").addEventListener("click", close2);
    </script>
    {% endblock %}
  </body>
</html>
