<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    /> -->
    <title>guestBook</title>
  </head>

  <body>
    {% extends 'layout.html' %} {% block content %} {% if user %}
    <link rel="stylesheet" href="/guestBook.css" />
    <link rel="stylesheet" href="/header.css" />
    <link rel="stylesheet" href="/modal.css" />

    <div class="modal1 hidden">
      <div class="modalBox">
        <div class="modalBox-title">
          <div
            style="padding-top: 40px; padding-left: 212px; font-weight: bold"
          >
            팔로우 목록
          </div>
          <div id="x">
            <button class="closeBtn1 pointer">✖</button>
          </div>
        </div>
        {% if user.Followings %} {% for following in user.Followings %}
        <div class="modalBox-content">
          <div
            class="modalBox-nick pointer"
            onclick="handleClick(event, `{{following.id}}`)"
          >
            {{following.nick}}
          </div>
        </div>
        {% endfor %} {% endif %}
      </div>
    </div>
    <div class="modal2 hidden">
      <div class="modalBox">
        <div class="modalBox-title">
          <div
            style="padding-top: 40px; padding-left: 212px; font-weight: bold"
          >
            팔로워 목록
          </div>
          <div id="x"><button class="closeBtn2 pointer">✖</button></div>
        </div>
        {% if user.Followers %} {% for follower in user.Followers %}
        <div class="modalBox-content">
          <div
            class="modalBox-nick pointer"
            onclick="handleClick(event, `{{follower.id}}`)"
          >
            {{follower.nick}}
          </div>
        </div>
        {% endfor %} {% endif %}
      </div>
    </div>
    <div class="profile-box">

      {% if profileImg %}
    
      <img
      class="profile-img"
      src="{{profileImg}}"
    />

      {% else %}
         <img class="profile-img"
         src = http://kaihuastudio.com/common/img/default_profile.png />

      {% endif %}
      <input type="hidden" value="{{login_user.id}}" class="login-user-id" />
      <div class="profile-info">
        <div class="nickname">{{userNick}}</div>
        <div class="follow-info">
          <div class="follow-box openBtn1 pointer">
            팔로우 <strong>{{user.Followings.length}}</strong>
          </div>

          <div class="follower-box openBtn2 pointer">
            팔로워 <strong>{{user.Followers.length}}</strong>
          </div>
        </div>
        {% if not followerIdList.includes(user.id) and user.id !== login_user.id
        %}
        <div>
          <button class="guest-follow-btn">팔로우하기</button>
        </div>
        {% elif followerIdList.includes(user.id) %}
          <div>
            <button class="guest-unfollow-btn">팔로우취소</button>
          </div>
          {% endif %}
          {%if user.id == login_user.id%}
          <div>
            <button id = "profileChange-btn" class="btn">프로필 변경</button>

       
          </div>
          {% endif %}
      </div>
    </div>

    <div class="profileChange-div hidden">
      <h2 >프로필 수정</h2>
      <form id = "profile-form" action="/user/profile" method="post">
        <input placeholder="변경할 닉네임을 작성하세요" name="nick"> <button class= "btn">입력</button>
      </form>
      <form id = "profileImg-form" action="/user/profileImg" method="post" enctype="multipart/form-data">
        <div class="img-preview">
          <img
            id="img-preview"
            src=""
            style="display: none"
            width="250"
            alt="미리보기"
          />
          <input id="img-url" type="hidden" name="url" />
        </div>
        <div style="display:flex">
          <label id="img-label" for="img" style="margin-right: 5px; border: none;">사진 선택</label>
          <input id="img" type="file"   accept="image/*" />
          <button id="profile-btn" type="submit" class="btn"  style="margin-right: 5px">변경</button>
          <button id ="makeBasicProfile" class ="btn">기본 프로필</button>
        </div>
     
      
      </form>
    </div>
    <!-- <h3>user : {{following}}</h3> -->
    <h1 style ="margin-top: 40px;">방명록</h1>
    <div class="input-container">
      <form
        id="twit-form"
        action="/guestBook/{{user.id}}"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="form-floating">
          <textarea
            id="floatingTextarea"
            class="form-control"
            name="content"
            maxlength="140"
            placeholder="방명록을 작성하세요."
          ></textarea>
          <input id="writer" type="hidden" value="{{writer}}" />
          <!-- <label for="floatingTextarea">leave a comment</label> -->
        </div>
        <div class="img-preview">
          <img
            id="img-preview"
            src=""
            style="display: none"
            width="250"
            alt="미리보기"
          />
          <input id="img-url" type="hidden" name="url" />
        </div>
        <div class="btns-div">
          <div class="img-inputBox">
            <!-- <label for="formFile" id="img-label" class="form-label"
              >사진 업로드</label
            > -->
            <input
              id="formFile"
              class="img-input"
              type="file"
              placeholder="이미지 추가"
              accept="image/*"
              style="display: none"
            />
            <!-- <div class="input-file-button">
              <label for="formFile"> 사진 추가</label>
            </div> -->
          </div>

          <div>
            <button type="submit" class="btn btn-secondary">입력</button>
          </div>
        </div>
        <div></div>
      </form>
    </div>
    {% endif %}
    <div class="twits">
      
      {% for guestBook in guestBooks %}
      <div class="twit">
        <input type="hidden" value="{{guestBook.id}}" class="twit-id" />
        <div
          class="twit-author pointer"
          onclick="handleClick(event, `{{guestBook.UserId}}`)"
        >
          {{guestBook.writer}}
        </div>
        <div class="twit-content">{{guestBook.content}}</div>
        <!-- <div class="twit-createAt">{{guestBook.createdAt}}</div> -->
        <div id="twit-createAt" class="twit-createAt">{{guestBook.createdAt}}</div>
        {% if guestBook.UserId == login_user.id or userNick == login_user.nick %}
        <!-- 방명록을 쓴 User 이거나 내 방명록 페이지면 -> 수정삭제 가능 -->
        <button 
          id="modify"
          type="submit"
          class="btn btn-secondary"
          onclick="clickModify()">
          수정
        </button>
        <div style="display:flex; align-items:center;">
          <button 
          id="deleteBtn"
          type="submit"
          class="btn btn-secondary deleteBtn"
          onclick="location.href='/guestBook/delete/{{guestBook.id}}/{{nowuserId}}'">
          <img src = "/x.png" width="12px" height="12px"/>
        </button>
        <form id=inputForm style="display: none;" action="/guestBook/update/{{guestBook.id}}/{{nowuserId}}" method="post">
          <table>
              <tr>
                  <td><input type="text" name="contentUpdate" ></td>
              </tr>
          </table>
          <input type="submit" value="수정완료">
      </form>
        </div>
        {% endif %}
        {% if guestBook.img %}
      
          <!-- <div class="twit-img">
            <img src="{{guestBook.img}}" alt="섬네일" />
          </div> -->
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endblock %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {% block script %}
    <script>
      function clickModify() {
        document.getElementById("inputForm").style.display = "inline";
        document.getElementById("deleteBtn").style.display = "none";
        document.getElementById("modify").style.display = "none";
        document.getElementById("twit-createAt").style.display = "none";
      }

      function clickmodifyCancel(){
        document.getElementById("inputForm").style.display = "none";
        document.getElementById("deleteBtn").style.display = "inline";
        document.getElementById("modify").style.display = "inline";
      }

      function clickOK() {
        document.getElementById("modify").style.display = "inline";
        document.getElementById("input").style.display = "none";
      }

      document.querySelectorAll(".twit-createAt").forEach(function (x) {
        var year = x.innerText.slice(11,15);
        var month = x.innerText.slice(4,7);
        var date = x.innerText.slice(8,10);
        var time = x.innerText.slice(16, 21);

        if(month==="Jan"){
          month = "1월";
        } else if(month==="Feb"){
          month = "2월";
        } else if(month==="Mar"){
          month = "3월";
        } else if(month==="Apr"){
          month = "4월";
        } else if(month==="May"){
          month = "5월";
        } else if(month==="Jun"){
          month = "6월";
        } else if(month==="Jul"){
          month = "7월";
        } else if(month==="Aug"){
          month = "8월";
        } else if(month==="Sep"){
          month = "9월";
        } else if(month==="Oct"){
          month = "10월";
        } else if(month==="Nov"){
          month = "11월";
        } else if(month==="Dec"){
          month = "12월";
        }

        var day = year + "년 " + month + " " + date + "일 " + time
        x.innerText = day;
      });

      //const fulldate = date.innerText.slice(0, 24);
      //console.log(date.getMonth());

      if (document.getElementById("formFile")) {
        console.log("!!!!!!!!!!!!!!");
        document
          .getElementById("formFile")
          .addEventListener("change", function (e) {
            const formData = new FormData();
            console.log(this, this.files);
            formData.append("img", this.files[0]);
            axios
              .post("/guestBook/img", formData)
              .then((res) => {
                document.getElementById("img-url").value = res.data.url;
                document.getElementById("img-preview").src = res.data.url;
                document.getElementById("img-preview").style.display = "inline";
              })
              .catch((err) => {
                console.error(err);
              });
          });
      }
      document.querySelectorAll(".guest-follow-btn").forEach(function (tag) {
        tag.addEventListener("click", function () {
          const guestBook_Id = document.querySelector("#my-id");
          if (guestBook_Id) {
            const userId = document.querySelector(".login-user-id").value;
            if (userId !== guestBook_Id.value) {
              if (confirm("팔로잉하시겠습니까?")) {
                axios
                  .post(`/user/${guestBook_Id.value}/follow`)
                  .then(() => {
                    location.reload();
                  })
                  .catch((err) => {
                    console.error(err);
                  });
              }
            }
          }
        });
      });
      document.querySelectorAll(".guest-unfollow-btn").forEach(function (tag) {
        tag.addEventListener("click", function () {
          const guestBook_Id = document.querySelector("#my-id");
          if (guestBook_Id) {
            const userId = document.querySelector(".login-user-id").value;
            if (userId !== guestBook_Id.value) {
              if (confirm("언팔로잉하시겠습니까?")) {
                axios
                  .post(`/user/${guestBook_Id.value}/unfollow`)
                  .then(() => {
                    location.reload();
                  })
                  .catch((err) => {
                    console.error(err);
                  });
              }
            }
          }
        });
      });
      const open1 = () => {
        document.querySelector(".modal1").classList.remove("hidden");
        document.querySelector(".bg").classList.remove("hidden");
      };

      const close1 = () => {
        document.querySelector(".modal1").classList.add("hidden");
        document.querySelector(".bg").classList.add("hidden");
      };

      document.querySelector(".openBtn1").addEventListener("click", open1);
      document.querySelector(".closeBtn1").addEventListener("click", close1);
      document.querySelector(".bg").addEventListener("click", close1);

      const open2 = () => {
        document.querySelector(".modal2").classList.remove("hidden");
        document.querySelector(".bg").classList.remove("hidden");
      };

      const close2 = () => {
        document.querySelector(".modal2").classList.add("hidden");
        document.querySelector(".bg").classList.add("hidden");
      };

      document.querySelector(".openBtn2").addEventListener("click", open2);
      document.querySelector(".closeBtn2").addEventListener("click", close2);
      document.querySelector(".bg").addEventListener("click", close2);


      if (document.getElementById("img")) {
    document.getElementById("img").addEventListener("change", function (e) {
      const formData = new FormData();
      console.log(this, this.files);
      formData.append("img", this.files[0]);
      axios
        .post("/user/img", formData)
        .then((res) => {
          console.log(res);
          document.getElementById("img-url").value = res.data.url;
          document.getElementById("img-preview").src = res.data.url;
          document.getElementById("img-preview").style.display = "inline";
        })
        .catch((err) => {
          console.error(err);
        });
    });
  }


  const profileChangeBtn =  document.getElementById("profileChange-btn");
  const profileChangeBox =  document.querySelector(".profileChange-div")
  const showChangeProfile = () => {
    console.log("profileChangeBtn click") 
    profileChangeBox.classList.toggle("hidden");

    if(profileChangeBox.classList.contains("hidden")){
      profileChangeBtn.innerText = "프로필 변경"
    }
    else{
      profileChangeBtn.innerText = "취소"
    }
  }

  profileChangeBtn.addEventListener("click", showChangeProfile);




  document.getElementById("makeBasicProfile").addEventListener("click", function(e){
    axios
                  .post(`/user/`)
                  .then(() => {
                    location.reload();
                  })
                  .catch((err) => {
                    console.error(err);
                  });
  })
  
    </script>
    {% endblock %}
  </body>
</html>