<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    /> -->
    <title>guestBook</title>
  </head>

  <body>
    {% extends 'layout.html' %} {% block content %} {% if user %}
    <style>
      .profile-wrap {
        display: none;
      }
    </style>
    <link rel="stylesheet" href="/guestBook.css" />
    <link rel="stylesheet" href="/header.css" />

    <h2>{{userNick}}</h2>
    <h3>followingCount : {{user.Followings.length}}</h3>
    <h3>팔로잉 목록</h3>
    {% if user.Followings %} {% for following in user.Followings %}
    <div>{{following.nick}}</div>
    {% endfor %} {% endif %}
    <h3>followerCount : {{user.Followers.length}}</h3>
    <h3>팔로워 목록</h3>
    {% if user.Followers %} {% for follower in user.Followers %}
    <div>{{follower.nick}}</div>
    {% endfor %} {% endif %}
    <h3>방명록</h3>
    <!-- <h3>user : {{following}}</h3> -->
    <div class="input-container">
      <form
        id="twit-form"
        action="/guestBook/{{user.id}}"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="form-floating">
          <textarea
            id="floatingTextarea"
            class="form-control"
            name="content"
            maxlength="140"
            placeholder="방명록을 작성하세요."
          ></textarea>
          <!-- <label for="floatingTextarea">leave a comment</label> -->
        </div>
        <div class="img-preview">
          <img
            id="img-preview"
            src=""
            style="display: none"
            width="250"
            alt="미리보기"
          />
          <input id="img-url" type="hidden" name="url" />
        </div>
        <div class="btns-div">
          <div class="img-inputBox">
            <!-- <label for="formFile" id="img-label" class="form-label"
              >사진 업로드</label
            > -->
            <input
              id="formFile"
              class="img-input"
              type="file"
              placeholder="이미지 추가"
              accept="image/*"
              style="display: none"
            />
            <div class="input-file-button">
              <label for="formFile"> 사진 추가</label>
            </div>
          </div>

          <div>
            <button type="submit" class="btn btn-secondary">입력</button>
          </div>
        </div>
        <div></div>
      </form>
    </div>
    {% endif %}
    <div class="twits">
      {% for guestBook in guestBooks %}
      <div class="twit">
        <input
          type="hidden"
          value="{{guestBook.User.id}}"
          class="twit-user-id"
        />
        <input type="hidden" value="{{guestBook.id}}" class="twit-id" />
        <div
          class="twit-author"
          onclick="handleClick(event, `{{twit.User.id}}`)"
        >
          {{guestBook.User.nick}}
        </div>
        <div class="twit-content">{{guestBook.content}}</div>
        {% if guestBook.img %}
        <div class="twit-img"><img src="{{guestBook.img}}" alt="섬네일" /></div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endblock %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      if (document.getElementById("formFile")) {
        console.log("!!!!!!!!!!!!!!");
        document
          .getElementById("formFile")
          .addEventListener("change", function (e) {
            const formData = new FormData();
            console.log(this, this.files);
            formData.append("img", this.files[0]);
            axios
              .post("/guestBook/img", formData)
              .then((res) => {
                document.getElementById("img-url").value = res.data.url;
                document.getElementById("img-preview").src = res.data.url;
                document.getElementById("img-preview").style.display = "inline";
              })
              .catch((err) => {
                console.error(err);
              });
          });
      }
    </script>
  </body>
</html>
