{% extends 'layout.html' %} {% block content %}
<div class="timeline">
  {% if user %}
  <div>
    <form
      id="twit-form"
      action="/post"
      method="post"
      enctype="multipart/form-data"
    >
      <div>
        <textarea id="twit" name="content" maxlength="140"></textarea>
      </div>
      <div class="img-preview">
        <img
          id="img-preview"
          src=""
          style="display: none"
          width="250"
          height="250"
          alt="미리보기"
        />
        <input id="img-url" type="hidden" name="url" />
      </div>
      <div>
        <label id="img-label" for="img">사진 업로드</label>
        <input id="img" type="file" accept="image/*" />
        <button id="twit-btn" type="submit" class="btn">게시</button>
      </div>
    </form>
  </div>
  {% endif %}
  <div class="twits">
    <form id="hashtag-form" action="/hashtag">
      <div>
        <input type="text" name="hashtag" placeholder="태그 검색" />
        <button class="btn">검색</button>
      </div>
    </form>
    {% for twit in twits %}
    <div class="twit">
      <input
        class="twit-writer"
        type="hidden"
        value="{{user.nick}}"
        class="twit-writer"
      />
      <input type="hidden" value="{{twit.id}}" class="twit-id" />
      <div class="twit-top">
        <input type="hidden" value="{{twit.User.id}}" class="twit-user-id" />
        <div class="twit-author">
          {% if twit.User.img %}
          <span
            class="pointer"
            onclick="handleClick(event, `{{twit.User.id}}`)"
          >
            <img class="profile-wrap-img pointer" src="{{twit.User.img}}" />
          </span>
          {% else %}
          <span
            class="pointer"
            onclick="handleClick(event, `{{twit.User.id}}`)"
          >
            <img class="profile-wrap-img" src =
            http://kaihuastudio.com/common/img/default_profile.png /></span
          >
          {% endif %}
          <span
            class="pointer"
            onclick="handleClick(event, `{{twit.User.id}}`)"
            style="margin-right: 10px"
            >{{twit.User.nick}}
          </span>
        </div>
        {% if not followerIdList.includes(twit.User.id) and twit.User.id !==
        user.id %}
        <button class="twit-follow">팔로우하기</button>
        {% endif %}
      </div>
      {% if user.id === twit.User.id %}
      <button class="twit-delete"><img src="/x.png" /></button>
      {% endif %} {% if twit.img %}

      <div class="twit-img"><img src="{{twit.img}}" alt="섬네일" /></div>
      {% endif %}
      <div style="padding: 0 60px; border-top: solid 1px silver">
        <div class="twit-content">{{twit.content}}</div>
        <!-- 🧡 -->
        <div class="twit-edit">
          <span id="like" style="cursor: pointer" onclick="handleLike(event)">
            ❤️
          </span>
          <span>{{twit.post_like.length}}</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %} {% block script %}
<script>
  document.querySelectorAll(".twit-delete").forEach(function (tag) {
    tag.addEventListener("click", function () {
      const myId = document.querySelector("#my-id");
      const twitId = tag.parentNode.querySelector(".twit-id").value;
      const userId = tag.parentNode.querySelector(".twit-user-id").value;

      if (userId === myId.value) {
        if (confirm("게시글을 삭제하시겠습니까?")) {
          axios
            .delete(`/post/${twitId}`)
            .then(() => {
              location.reload();
            })
            .catch((err) => {
              console.log(err);
            });
        }
      }
    });
  });

  if (document.getElementById("img")) {
    document.getElementById("img").addEventListener("change", function (e) {
      const formData = new FormData();
      console.log(this, this.files);
      formData.append("img", this.files[0]);
      axios
        .post("/post/img", formData)
        .then((res) => {
          document.getElementById("img-url").value = res.data.url;
          document.getElementById("img-preview").src = res.data.url;
          document.getElementById("img-preview").style.display = "inline";
        })
        .catch((err) => {
          console.error(err);
        });
    });
  }
  document.querySelectorAll(".twit-follow").forEach(function (tag) {
    tag.addEventListener("click", function () {
      const myId = document.querySelector("#my-id");
      if (myId) {
        const userId = tag.parentNode.querySelector(".twit-user-id").value;
        if (userId !== myId.value) {
          if (confirm("팔로잉하시겠습니까?")) {
            axios
              .post(`/user/${userId}/follow`)
              .then(() => {
                location.reload();
              })
              .catch((err) => {
                console.error(err);
              });
          }
        }
      }
    });
  });
  const handleLike = async (e) => {
    console.log(e.target.parentNode.parentNode.parentNode.children[1].value);
    const twitId = e.target.parentNode.parentNode.parentNode.children[1].value
      .trim()
      .toString();

    if (twitId) {
      const config = {
        method: "post",
        url: `/like`,
        data: {
          twitId: twitId,
        },
      };

      await axios(config)
        .then((response) => {
          console.log("response!~", response);
          location.reload();
        })
        .catch((err) => {
          console.error(err);
        });
    }
  };
</script>
{% endblock %}
