{% extends 'layout.html' %} {% block content %}
<div class="timeline">
  <div class="followings half">
    <h2>팔로잉 목록</h2>
    {% if user.Followings %} {% for following in user.Followings %}
    <div>{{following.nick}}</div>
    {% endfor %} {% endif %}
  </div>
  <div class="followers half">
    <h2>팔로워 목록</h2>
    {% if user.Followers %} {% for follower in user.Followers %}
    <div>{{follower.nick}}</div>
    {% endfor %} {% endif %}
  </div>
</div>
<div>
  <h2>해시태그 추가하기</h2>
  <div>
    <form id="twit-form" action="/favor" method="post">
      <div class="input-group">
        <textarea id="twit" name="content" maxlength="140"></textarea>
      </div>
      <div>
        <button id="twit-btn" type="submit" class="btn">짹짹</button>
      </div>
    </form>
  </div>
</div>
<!-- {% include "guestBook2.html" %} -->

{% endblock %}
