* {
  box-sizing: border-box;
}

:root {
  --color-dark-blue: #001d6e;
  --color-blue: #7fb5ff;
  --color-light-blue: #c4ddff;
  --font-size-btn: 12px;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  justify-content: center;
}
.profile-box {
  border: solid 1px black;
  height: 200px;
  display: flex;
  align-items: center;
  padding: 20px;
  width: 800px;
  border-radius: 15px;
}
.profile-img {
  width: 150px;
  height: 150px;
  object-fit: fill;
  border: 1px solid black;
  border-radius: 50%;
}
.profile-info {
  width: 300px;
  height: 150px;
  margin-left: 50px;
}
.nickname {
  font-size: 30px;
}
.follow-info {
  margin-top: 20px;
  display: flex;
}
.follow-box {
  margin-right: 30px;
}
.follow-box:hover {
  font-size: larger;
}
.follower-box:hover {
  font-size: larger;
}
.profile-wrap {
  display: none;
}
.input-container {
  width: 800px;
  height: auto;
  background: var(--color-blue);
  border-radius: 15px;
  padding: 30px 50px;
  margin: 40px 0px;
}

.form-floating {
  display: flex;
  align-items: center;
}

.form-control {
  /* textarea */
  width: 100%;
  height: 80px;
  border: none;
  padding: 12px;
  border: none;
}
.form-control:focus {
  outline: 0;
}

.btns-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 12px 0px;
}

.btn {
  width: 60px;
  height: 42px;
  border-radius: 5px;
  /* margin: 0px 20px; */
  background-color: var(--color-dark-blue);
  border: none;
  color: white;
  font-size: var(--font-size-btn);
  cursor: pointer;
}

.img-preview {
  margin: 10px 0px;
}
/* .img-inputBox {
}

.img-input {
} */

.input-file-button {
  width: 88px;
  height: 42px;
  background-color: var(--color-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  font-size: var(--font-size-btn);
  cursor: pointer;
}

.twits {
  width: 100%;
  height: auto;
  background-color: var(--color-light-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.twit {
  height: auto;
  width: 80%;
  background-color: white;
  padding: 12px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.twit:nth-child(1) {
  margin-top: 30px;
}
.twit-createAt {
  font-size: 10px;
  width: 20%;
  display: flex;
  align-items: center;
}
.twit-content {
  word-break: break-all;
  width: 50%;
  font-size: 15px;
}
.bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}
