* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-dark-blue: #001d6e;
  --color-blue: #7fb5ff;
  --color-light-blue: #c4ddff;
  --font-size-btn: 12px;
}
a {
  text-decoration: none;
  color: black;
}

.top-bar {
  background-color: var(--color-light-blue);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
.link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  position: relative;
}
.icon {
  height: 50px;
}

.logo a span {
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  top: -4px;
  left: 51px;
}
