* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-dark-blue: #001d6e;
  --color-blue: #7fb5ff;
  --color-light-blue: #c4ddff;
  --font-size-btn: 12px;
}
a {
  text-decoration: none;
  color: black;
}

.top-bar {
  background-color: var(--color-light-blue);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
.link-btn {
  margin-top: 30px;
  margin-right: 20px;
}
.link-btn a {
  font-weight: bold;
  color: rgb(120, 120, 120);
}
.link-btn a:hover {
  color: black;
}
.logo a {
  font-size: 60px;
  font-weight: bold;
}
