* {
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
}

:root {
  --color-dark-blue: #001d6e;
  --color-blue: #7fb5ff;
  --color-light-blue: #c4ddff;
  --font-size-btn: 12px;
}
.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#join-text {
  font-size: 1.5rem;
  font-weight: bold;
}
#join-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid black;
  border-radius: 15px;
  width: 400px;
  height: 400px;
}
.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
