:root {
  --color-dark-blue: #001d6e;
  --color-blue: #7fb5ff;
  --color-light-blue: #c4ddff;
  --font-size-btn: 12px;
}
button {
  width: 20px;
  padding: 0;
  background-color: aliceblue;
  border: none;
  font-size: 15px;
  font-weight: 200;
}
#x {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}
.openBtn1:hover {
  cursor: grab;
}
.openBtn2:hover {
  cursor: grab;
}
.modal1 .modal2 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
.closeBtn1 .closeBtn2 {
  position: absolute;
  top: 15px;
  right: 15px;
}
.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  border: solid 1px black;
  transform: translateY(-50%) translateX(-50%);
  background-color: aliceblue;
  width: 500px;
  height: 500px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}
